.toggleStyle {
    transition: left 0.7s;
    -webkit-transition: left 0.7s;
    border-radius: 5px;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.block {
    width: 100%;
    height: 200px;
}